@model EpicAlbergo.Models.Dto.FiscalCodeDto

@{
    ViewData["Title"] = "Calcolo del Codice Fiscale";
}

<h1>@ViewData["Title"]</h1>

<h4>Dati Anagrafici</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FiscalCode">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input value="M" type="radio" asp-for="Gender" checked class="form-check-input" />
                <label class="form-check-label">M</label>
                <input value="F" type="radio" asp-for="Gender" class="form-check-input" />
                <label class="form-check-label">F</label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthOfCity" class="control-label"></label>
                <div class="row">
                    <div class="col-5">
                        <select id="provinces" class="form-select"></select>
                    </div>
                    <div class="col-7">
                        <select asp-for="BirthOfCity" id="cities" class="form-select"></select>
                    </div>
                </div>
                <span asp-validation-for="BirthOfCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.FiscalCode != null)
{
    <div class="alert alert-success">
        @ViewBag.FiscalCode
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function loadCities() {
            let province = $("#provinces").val()
            $.ajax({
                url: '@Url.Action("GetCities", "Customer")',
                method: 'get',
                data: { 'province': `${province}` },
                success: (data) => {
                    $("#cities").empty()
                    $(data).each((_, c) => {
                        $('<option>').text(c.name).val(c.id).appendTo($("#cities"))
                    })
                }
            })
        }
        $(() => {
            $.ajax({
                url: '@Url.Action("GetProvinces", "Customer")',
                method: 'get',
                success: (data) => {
                    $(data).each((_, p) => {
                        $('<option>').text(p.name).val(p.acronym).appendTo($("#provinces"))
                    })
                    loadCities()
                }
            })
            $("#provinces").change(() => loadCities())
        })
    </script>
}
