@model IEnumerable<EpicAlbergo.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center mb-4">Registro Prenotazioni</h1>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationStartStayDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationEndStayDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationDeposit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReservationType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationNumber)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationDate)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationStartStayDate)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationEndStayDate)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationDeposit) €
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationPrice) €
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReservationType)
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="AssociateService" asp-route-reservationId="@item.ReservationId" class="btn btn-success text-center">Associate Service</a>
                                    <a asp-action="Checkout" asp-route-reservationId="@item.ReservationId" class="btn btn-warning text-center pt-3">Checkout</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

